<h1>Upload</h1>
<div class="d-flex justify-content-center m-3">
	<%= button_to "new cartoos","/cartoons/new",method: :get,class:"btn btn-primary" %>
</div>
<div class="d-flex justify-content-center m-3">
	<%= button_to "new chapters","/chapters/new",method: :get,class:"btn btn-primary" %>
</div>




<style>
	h1 {text-align: center;}
</style>