<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <%= image_tag("logo.png",style:'width:50px ; height:50px') %>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/main" >Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cartoon" >Cartoons</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/genre" >Genres</a>
      </li>
    </ul>
    <form class="d-flex" action="/search">
      <input class="form-control me-2" name="q" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ">
      <% if Current.user %>
      <li class="nav-item">
        <%= button_to "Logout",logout_path,method: :delete,class:"btn btn-primary" %>
      </li>
      <%else%>
      <li class="nav-item">
        <a class="btn btn-primary" href="/login" >Log In</a>
      </li>
      <%end%>
    </ul>
  </div>

</nav>
<br>


